*.class
*.log
*.bak

# sbt specific
.cache/
.history/
.lib/
dist/*
target
lib_managed/
src_managed/
project/boot/
project/project
project/plugins/project/

# IntelliJ specific
.scala_dependencies
.worksheet
.bloop

.idea
out

# VSCode / Metals
.vscode
.metals
.bsp
project/metals.sbt

# Eclipse
bin/
.classpath
.project
.settings
.cache-main

#User
/*.vhd
/*.v
*.cf
*.json
*.vcd
!tester/src/test/resources/*.vhd

gen/
simWorkspace/
tmp/
null
